<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>입력페이지</title>
</head>
<body>
    <form action="/save" method="post">
        <p>제  목 : <input type="text" name="title"></p>
        <p>작성자 : <input type="text" name="writer"></p>
        <p>비밀번호: <input type="text" name="pass"></p>
        <p>내  용 : <input type="text" name="contents"></p>
        <p><input type="submit" value="작성하기"></p>
    </form>
</body>
</html>